<div class="row">

<h2 class="sub-header">issued by you</h2>
<div class="table-responsive">
        <table class="table table-striped">
	       <thead>
	       		<tr>
	       			<th>challenge</th>
	       			<th>issued</th>
	       			<th>due in</th>
	       		</tr>
	       </thead>
          <tbody>
            <tr>
              <td>Drink 10 Beers</td>
              <td>3 days ago</td>
              <td>24 hours</td>
            </tr>
          </tbody>
        </table>
</div>

<h2 class="sub-header">what you gotta do</h2>
<div class="table-responsive">
        <table class="table table-striped">
	       <thead>
	       		<tr>
	       			<th>challenge</th>
	       			<th>issued</th>
	       			<th>due in</th>
	       		</tr>
	       </thead>
          <tbody>
            <tr>
              <td>run naked down florida road</td>
              <td>3 days ago</td>
              <td>24 hours</td>
            </tr>
          </tbody>
        </table>
</div>