<!doctype html>
<html ng-app="challengeApp">
<head>
	<title>I Challenge You</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Home Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
<a href="main" class="btn btn-default btn-sm">home</a>
		<a href="profile" class="btn btn-default btn-sm">profile</a>
	</div>

	<div class="row">
		<input type="hidden" data-userid="<%= user._id %>" value="<%= user._id %>">
		<div class="col-sm-6" ng-view>

		</div>
	</div>

	<div class="text-center">
		<p>I Challenge <a href="http://google.com">You
		</a>.</p>
	</div>
</div>

	<script type="text/javascript" http://code.jquery.com/jquery-2.1.0.min.js></script>
	<script src="/scripts/angular.js"></script>
	<script src="/scripts/angular-route.js"></script>
	<script src="/js/app.js"></script> 
	<script src="js/controllers/homeCtrl.js"></script>
	<script src="js/controllers/challengeCtrl.js"></script>
	<script src="js/services/homeService.js"></script>
	<script src="js/services/challengeService.js"></script>

</body>
</html>